{#
/**
 * @file
 * Template file for the preview report.
 *
 * Available variables:
 * - summary: Object containing summary results.
 * - url: URL this report relates to.
 */
#}

{{ attach_library('accessibility_scanner/achecker') }}

<div class="achecker-result achecker-result-{{ summary.status|lower }}">
  <div class="achecker-result-status">{{ summary.status }}</div>
  <div class="achecker-result-url">{{ url }}</div>

  <ul class="achecker-result-errors">
    {% if summary.num_of_errors > 0 %}
    <li><strong>{{ 'Errors:'|trans }}</strong> {{ summary.num_of_errors }}</li>
    {% endif %}
    {% if summary.num_of_likely_problems > 0 %}
    <li><strong>{{ 'Likely Problems:'|trans }}</strong> {{ summary.num_of_likely_problems }}</li>
    {% endif %}
    {% if summary.num_of_potential_problems > 0 %}
    <li><strong>{{ 'Potential Problems:'|trans }}</strong> {{ summary.num_of_potential_problems }}</li>
    {% endif %}
  </ul>
  {{ view_button }}
</div>
