{#
/**
 * @file
 * Template file the web page archive before/after screenshot comparison.
 *
 * Available variables:
 * - summary: Object containing summary results.
 * - results: Object containing detailed results.
 * - url: URL this report relates to.
 */
#}

{{ attach_library('accessibility_scanner/achecker') }}

<div class="achecker-result achecker-result-{{ summary.status|lower }}">
  <div class="achecker-result-status">{{ summary.status }}</div>
  <div class="achecker-result-url">{{ url }}</div>

  <ul class="achecker-result-errors">
    {% if summary.num_of_errors > 0 %}
    <li><strong>{{ 'Errors:'|trans }}</strong> {{ summary.num_of_errors }}</li>
    {% endif %}
    {% if summary.num_of_likely_problems > 0 %}
    <li><strong>{{ 'Likely Problems:'|trans }}</strong> {{ summary.num_of_likely_problems }}</li>
    {% endif %}
    {% if summary.num_of_potential_problems > 0 %}
    <li><strong>{{ 'Potential Problems:'|trans }}</strong> {{ summary.num_of_potential_problems }}</li>
    {% endif %}
  </ul>
  <hr>
  <ul class="achecker-resultsFull">
  {% for result in results %}
    {% set class_suffix = result.result_type|lower|replace(' ', '-') %}
    <li class="achecker-row achecker-row-{{ class_suffix }}">
      <div class="achecker-row-resultType achecker-row-resultType-{{ class_suffix }}">
        <span class="achecker-row-resultTypeValue">{{ result.result_type }}</span>
        <span class="achecker-row-position">({{ 'Line'|trans }} {{ result.line_num }}, {{ 'Col'|trans}} {{ result.column_num }})</span>
      </div>
      <div class="achecker-row-errorMessage">{{ result.error_msg|striptags('<a><code>')|raw }}</div>
      <div class="achecker-row-errorSourceCode">{{ result.error_source_code }}</div>
      {% if result.repair is not empty %}
      <div class="achecker-row-repair">
        <h5 class="achecker-row-repairHeader">{{ 'Recommended Solution:'|trans }}</h5>
        <p class="achecker-row-repairSolution">
          {{ result.repair|striptags('<code>')|raw }}
        </p>
      </div>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
